/* Large desktops and laptops */
@media (max-width: 1399px) {

  .logo {
    margin: 0;
  }

  .about__wrapper {
    flex-direction: column;
  }

  .about__left {
    margin-bottom: 32px;
  }

  .left-block__descr {
    width: 633px;
  }

  .right-block {
    padding: 65px 100px;
  }

  .right-block:first-child {
    margin-bottom: 32px;
  }

  .right-block__img {
    margin-right: 70px;
  }

  .about__item {
    width: 100%;
  }

  .work__content {
    margin-right: 30px;
  }

  .work__deskr {
    max-width: 650px;
  }

  .work__picture {
    background-position: center;
    background-size: cover;
  }

  .work__picture-two {
    background-position: center;
    background-size: cover;
  }

  .work__picture-tree {
    background-position: center;
    background-size: cover;
  }

  .work__picture-four {
    background-position: center;
    background-size: cover;
  }

  .questions-wrapper {
    flex-direction: column;
  }

  .questions__block {
    max-width: none;
    min-height: 230px;
  }

  .questions__block:not(:last-child) {
    margin-bottom: 32px;
  }

  .questions__title {
    max-width: none;
  }

  .footer__text {
    display: none;
  }

  .footer__content {
    margin-right: 0;
  }

  .footer__form {
    margin-right: 0;
  }
}

/* Landscape tablets and medium desktops */
@media (max-width: 1199px) {
  .container {
    max-width: 964px;
  }

  .header {
    margin-bottom: 40px;
    padding: 26px 0;
  }

  .logo__img-medium {
    display: block;
  }

  .logo__img {
    display: none;
  }

  .header__nav {
    margin-right: 105px;
  }

  .nav__item:not(:last-child) {
    margin-right: 60px;
  }

  .offer {
    margin-bottom: 36px;
  }

  .offer__wrapper {
    min-height: 668px;
  }


  .content-wrapper {
    max-width: 930px;
    padding: 160px 80px 160px 77px;
  }

  .swiper-slide-one {
    background-image: url('../img/offer-background1024.jpg');
  }

  .swiper-slide-two {
    background-image: url('../img/offer-background1024-2.jpg');
  }

  .swiper-slide-three {
    background-image: url('../img/offer-background1024-3.jpg');
  }

  .offer__title {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 16px;
  }

  .offer__descr {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }

  .offer__btn {
    padding: 24px 35px;
    font-size: 24px;
    line-height: 30px;
    transition-duration: 0.3s;
  }


  .about {
    margin-bottom: 77px;
  }

  .about__descr {
    margin-bottom: 59px;
  }

  .about__left {
    height: 641px;
  }

  .left-block__descr {
    width: 433px;
  }

  .right-block {
    padding: 64px 152px 65px 77px;
  }

  .right-block__img {
    margin-right: 49px;
  }

  .right-block__title {
    margin-bottom: 9px;
  }

  .work {
    margin-bottom: 80px;
  }

  .work-list {
    margin-bottom: 50px;
  }

  .work__deskr {
    max-width: 437px;
    margin-bottom: 25px;
  }

  .work__picture {
    background-image: url('../img/work-img1024.jpg');
    background-size: cover;
    background-position: center;
    width: 47.2%;
    /* height: 689px; */
  }

  .work__picture-two {
    background-image: url('../img/work-img1024-2.jpg');
    background-size: cover;
    background-position: center;
    width: 47.2%;
  }

  .work__picture-tree {
    background-image: url('../img/work-img1024-3.jpg');
    background-size: cover;
    background-position: center;
    width: 47.2%;
  }

  .work__picture-four {
    background-image: url('../img/work-img1024-4.jpg');
    background-size: cover;
    background-position: center;
    width: 47.2%;
  }

  .questions {
    margin-bottom: 79px;
  }

  .questions__block {
    padding: 64px 65px 64px 60px;
  }

  .questions__block:not(:last-child) {
    margin-right: 0;
  }

  .questions__title-large {
    padding: 29px 150px 39px 0;
  }

  .questions__btn-large {
    margin: 37px 0;
  }

  .input {
    width: 541px;
  }

  .form__btn {
    padding: 19px 38px;
  }

}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .footer__nav {
    display: none;
  }

  .container {
    max-width: 708px;
  }

  .header {
    padding: 17px 0;
  }

  .nav__list {
    align-items: center;
  }

  .logo__img-medium {
    display: none;
  }

  .logo__img-mini {
    display: block;
  }

  .swiper {
    border-radius: 24px;
  }

  .header__nav {
    margin-right: 43px;
  }

  .nav__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
  }

  .nav__item:not(:last-child) {
    margin-right: 41px;
  }

  .content-wrapper {
    max-width: 700px;
    padding: 160px 40px 160px 40px;
  }

  .swiper-slide-one {
    background-image: url('../img/offer-background768.jpg');
  }

  .swiper-slide-two {
    background-image: url('../img/offer-background768-2.jpg');
  }

  .swiper-slide-three {
    background-image: url('../img/offer-background768-3.jpg');
  }

  .offer__title {
    font-size: 50px;
    line-height: 61px;
  }

  .offer__descr {
    font-size: 18px;
    line-height: 22px;
  }

  .offer__btn {
    padding: 25px 40px;
    font-size: 23px;
    line-height: 28px;
  }

  .about {
    margin-bottom: 80px;
  }

  .about__descr {
    margin-bottom: 54px;
  }

  .about__left {
    height: 650px;
    border-radius: 24px;
  }

  .left-block {
    border-radius: 24px;
    padding: 34px 40px;
  }

  .left-block__descr {
    width: 366px;
  }

  .right-block {
    padding: 35px 45px 35px 39px;
    height: 235px;
    border-radius: 24px;
  }

  .right-block__img {
    display: none;
  }

  .right-block__img-medium {
    display: block;
    margin-right: 16px;
  }

  .work {
    margin-bottom: 80px;
  }

  .work-list__item:not(:last-child) {
    margin-right: 155px;
  }

  .work__wrapper {
    flex-direction: column-reverse;
  }

  .work-list {
    margin-bottom: 49px;
  }

  .work__picture {
    margin-top: 0;
    background-image: url('../img/work-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    width: 100%;
    height: 284px;
    margin-bottom: 39px;
  }

  .work__picture-two {
    margin-top: 0;
    background-image: url('../img/work-img2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    width: 100%;
    height: 284px;
    margin-bottom: 39px;
  }

  .work__picture-tree {
    margin-top: 0;
    background-image: url('../img/work-img3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    width: 100%;
    height: 284px;
    margin-bottom: 39px;
  }

  .work__picture-four {
    margin-top: 0;
    background-image: url('../img/work-img4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    width: 100%;
    height: 284px;
    margin-bottom: 39px;
  }

  .work__content {
    margin-right: 0;
  }

  .work__deskr {
    max-width: 100%;
    margin-bottom: 24px;
  }

  .br {
    display: none;
  }

  .questions {
    margin-bottom: 80px;
  }

  .questions__block  {
    padding: 33px 65px 35px 40px;
    min-height: 0;
  }

  .questions__title {
    padding: 0;
  }

  .footer__wrapper {
    flex-direction: column-reverse;
    align-items: start;
  }

  .footer-title {
    margin-bottom: 24px;
  }

  .footer__logo-img {
    margin-bottom: 16px;
  }

  .form-bottom {
    margin-bottom: 50px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    min-width: 250px;
    max-width: 420px;
    height: 100vh;
    z-index: 2000;
    padding: 38px 50px;
    background: #FFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .header__nav .nav__list {
    flex-direction: column;
    align-items: start;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .nav__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #333;
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .burger__menu {
    margin-right: 40px;
    width: 30px;
    height: 23px;
    display: block;
    order: -1;
    background-image: url('../img/burger-img.png');
    background-color: #fff;
  }

  .close {
    z-index: 2000;
    display: block;
    margin-bottom: 108px;
    background-color: #fff;
  }

  .stop__scroll {
    overflow: hidden;
  }

  .container {
    max-width: 570px;
    padding: 0 15px;
  }

  .offer {
    margin-bottom: 60px;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 455px;
    margin: 0 auto;
  }

  .offer__title {
    font-size: 35px;
    line-height: 40px;
    text-align: center;
  }

  .offer__descr {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .offer__btn {
    text-align: center;
  }

  .about {
    margin-bottom: 60px;
  }

  .about__descr {
    margin-bottom: 36px;
  }

  .left-block {
    display: none;
  }

  .left-block-none {
    display: block;
    padding: 0;
    width: 100%;
    margin-bottom: 36px;
  }

  .left-block__descr {
    width: 100%;
    margin-bottom: 15px;
  }

  .left-block__btn {
    color: var(--first-color);
    background-color: #fff;
  }

  .left-block__btn:focus {
    color: #FFF;
  }

  .left-block__btn:hover {
    color: #FFF;
  }

  .about__left {
    height: 300px;
    margin-bottom: 15px;
  }

  .right-block {
    border: none;
    flex-direction: column;
    align-items: start;
    padding: 0;
    height: 300px;
  }

  .right-block__img-medium {
    margin-bottom: 20px;
  }

  .work {
    margin-bottom: 60px;
  }

  .work-list__item:not(:last-child) {
    margin-right: 83px;
  }

  .work-list {
    justify-content: space-between;
  }

  .input {
    width: 450px;
  }

  .form-bottom {
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;
  }

  .form__btn {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .footer {
    padding: 51px 0 30px 0;
  }

  .footer__wrapper {
    align-items: center;
  }

  .footer__form {
    border-bottom: 1px solid #414141;
    margin-bottom: 18px;
  }

  .footer__content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

/* Portrait phones and smaller */
@media (max-width: 575px) {

  .title {
    font-size: 24px;
    line-height: 29px;
  }

  .header {
    border-radius: 0 0 16px 16px;
    padding: 17px 15px 80px 15px;
    margin-bottom: 20px;
  }

  .header__container {
    padding: 0;
  }

  .header__search-input {
    margin-right: 0;
  }

  .header__search {
    justify-content: space-between;
    flex-basis: 0;
    width: 100%;
    top: 0;
    border-radius: 0 0 16px 16px;
    padding: 20px 15px;
  }

  .header__search-btn-active {
    margin-right: 0;
  }

  .logo__img-medium {
    display: none;
  }

  .logo__img-mini {
    display: block;
  }

  .swiper {
    border-radius: 16px;
  }

  .content-wrapper {
    max-width: 380px;
    min-width: 247px;
    padding: 60px 20px 25px 20px;
  }

  .swiper-slide-one {
    background-image: url('../img/offer-background320.jpg');
  }

  .swiper-slide-two {
    background-image: url('../img/offer-background320-2.jpg');
  }

  .swiper-slide-three {
    background-image: url('../img/offer-background320-3.jpg');
  }

  .offer__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 7px;
  }

  .offer__descr {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 33px;
  }

  .offer__btn {
    padding: 13px 28px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 34px;
  }

  .swiper-slide .swiper-slide-tree .swiper-slide-active {
    margin-right: 15px !important;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 13px;
  }

  .about {
    margin-bottom: 88px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 14px;
  }

  .about__left {
    background-image: url('../img/about-left320.jpg');
    border-radius: 16px;
    height: 200px;
    margin-bottom: 8px;
  }

  .left-block__descr {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 12px;
  }

  .left-block__btn {
    padding: 9px 41px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .right-block__img-medium {
    display: none;
  }

  .right-block__img-mini {
    display: block;
    margin-bottom: 12px;
  }

  .left-block-none {
    margin-bottom: 32px;
  }

  .right-block {
    height: 249px;
  }

  .right-block__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 4px;
  }

  .right-block__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .work {
    margin-bottom: 59px;
  }

  .work__picture {
    background-image: url('../img/work-img320.jpg');
    border-radius: 16px;
    height: 160px;
    margin-bottom: 16px;
  }

  .work__picture-two {
    border-radius: 16px;
    height: 160px;
    margin-bottom: 16px;
  }

  .work__picture-tree {
    border-radius: 16px;
    height: 160px;
    margin-bottom: 16px;
  }

  .work__picture-four {
    border-radius: 16px;
    height: 160px;
    margin-bottom: 16px;
  }

  .work-list {
    margin-bottom: 15px;
  }

  .work-list__btn {
    font-size: 14px;
    line-height: 17px;
  }

  .work-title {
    margin-bottom: 21px;
  }

  .work-titlle-content {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .work-list__item:not(:last-child) {
    margin-right: 44px;
  }

  .work__deskr {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .work__btn-first {
    padding: 12px 44px;
    font-size: 12px;
    line-height: 15px;
    margin-right: 10px;
    border-radius: 8px;
  }

  .work__btn-second {
    padding: 11px 32px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .questions {
    margin-bottom: 60px;
  }

  .questions__block {
    padding: 0;
    border: none;
  }

  .questions__title {
    padding: 0;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .questions__block__text {
    font-size: 14px;
    line-height: 28px;
  }

  .faq-title {
    margin-bottom: 20px;
  }

  .footer {
    padding: 31px 0 30px 0;
  }

  .input {
    width: 100%;
    font-size: 14px;
    padding: 14px 20px;
  }

  .footer__form {
    width: 100%;
    margin-bottom: 16px;
  }

  .footer-title {
    margin-bottom: 20px;
  }

  .form__btn {
    padding: 12px 19px 13px 19px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 12px;
  }

  .form__message {
    margin-bottom: 25px;
  }

  .form-bottom {
    margin-bottom: 24px;
  }

  .footer__logo {
    margin-bottom: 16px;
  }

  .footer__logo-img {
    display: none;
  }

  .footer__logo-mini {
    display: block;
  }

  .social__item {
    width: 40px;
    height: 40px;
  }

  .ok {
    background-image: url('../img/ok-mini.svg');
  }

  .ok:hover {
    background-image: url('../img/ok-hover-mini.svg');
  }

  .ok:active {
    background-image: url('../img/ok-active-mini.svg');
  }

  .vk {
    background-image: url('../img/vk-mini.svg');
  }

  .vk:hover {
    background-image: url('../img/vk-hover-mini.svg');
  }

  .vk:active {
    background-image: url('../img/vk-active-mini.svg');
  }

  .social__item:first-child {
    margin-right: 16px;
  }

}
